/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');
@font-face {font-family:appleSD; src:url(../public/font/AppleSDGothicNeoM00.woff) format('woff');  font-weight:400; }
@font-face {font-family:appleSD; src:url(../public/font/AppleSDGothicNeoB00.woff) format('woff');  font-weight:500; }
@font-face {font-family:appleSD;  src:url(../public/font/AppleSDGothicNeoEB00.woff) format('woff');  font-weight:600; }

/*Normalize*/
* {margin: 0; padding: 0; border: none;box-sizing: border-box;}
a {text-decoration: none;color: #fff;}
ol, ul, li { list-style: none;}
button {cursor: pointer;}
em{font-style: inherit;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
/*Library*/
html {font-size: 62.5%;}/*1rem = 10px*/
body {font-family: appleSD; overflow-x:hidden;overflow-y: scroll;}
img{width: 100%;}
button{font-family: 'Noto Sans KR', sans-serif;}
.flex{display: flex;}
.column{flex-direction: column;}
.space{justify-content: space-between;}
.align-center{align-items: center;}
.just-center{justify-content: center;}
.icon{width: 40px;}
.arrow { position: relative;width: 9px;height: 1px;margin-right: 3px;transition: 0.8s;transform: rotate(135deg); } 
.arrow::after { position: absolute; left: 0; top: 0; content: ''; width: 6px;height: 6px; border-top: 2px solid #191919;border-right: 2px solid #191919; }
.container{padding:0 4rem;width: 100%;}
.titleFt{font-family: 'Tiro Tamil', serif;}
/*Drag-none*/
body{  -ms-user-select: none; -moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;overflow: hidden;-webkit-overflow-scrolling: touch;}

/*color*/
$main:#D44141;
$sub:#383D42;

/*main*/
.main{
  background-color: $main;min-width: 100vw;min-height: 100vh;width: 100%;height: 100%;
  .main_top p{padding-top: 80px;color: #fff;font-size: 9.6rem;font-weight: 400;}
    p:last-child{padding-top: 0px;margin-left: 14.8rem;}
}
.main .ani-menu-wrap{position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 190px;height: 190px;cursor: pointer;
  .ani-menu:hover{width: 100%;height: 100%; animation: spin 3s infinite;animation-delay: 1s;}
  .ani-round{width: 100%;height: 100%;border: 1px solid $sub;border-radius: 50%;}
    .dot{width: 10px;height: 10px;border-radius: 50%;transform: translate(-50%,-50%);background-color: $sub;position: absolute;}
    .dot:nth-child(1){top: 0;left: 50%;}
    .dot:nth-child(2){top: 50%;left: 0%;}
    .dot:nth-child(3){top: 50%;right: -5%;}
    .dot:nth-child(4){bottom: -5%;left: 50%;}
  .main-btn{width: 140px;height: 140px;padding: 36px;background-color: #fff;border-radius: 50%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  70%{transform: rotate(360deg);}
  100%{transform: rotate(360deg);}
}

/*Resize*/
@media (max-width: 1920px){}
@media (max-width: 1440px){}
@media (max-width: 1280px){}
@media (max-width: 1024px){}
@media (max-width: 800px){}
@media (max-width: 768px){}
@media (max-width: 480px){}
@media (max-width: 375px){}
@media (max-width: 320px){}